/* :root {
  --gutter-big: 4em;
  --accent-color: #0085b2;
  --accent-color-dim: #0085b266;
  --background-color: inherit;
  --text-color: inherit;
} */

/* https://coolors.co/37392e-32ccff-28afb0-ddcecd-fff4f4 */
/* :root {
  --gutter-big: 4em;
  --accent-color: #28afb0;
  --accent-color-dim: #28afb066;
  --accent-color-2: #32ccff;
  --background-color: #37392e;
  --text-color: #fff4f4;
} */

:root {
  --gutter-big: 8em;
  --accent-color: #3e92cc;
  --accent-color-dim: #3e92cc;
  --accent-color-2: #adacab;
  --background-color: #1e1b18;
  --text-color: #e8e4e8;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  width: 45em;
  margin: var(--gutter-big) auto;
}

section {
  margin-top: var(--gutter-big);
}

a {
  text-decoration: underline;
  color: var(--accent-color-2);
  text-shadow: none;
  border-bottom: none;
  background-image: none;
}

h1,
h2,
h3,
h4 {
  color: inherit;
}

h1 {
  border-bottom: 0.2em solid var(--accent-color);
}

h2 {
  border-bottom: 0.1em solid var(--accent-color);
}

h4 {
  color: var(--accent-color);
}

/* .muted {
  opacity: 0.9;
} */

.contact {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.contact-icon {
  margin-right: 0.25em;
  color: var(--accent-color);
  opacity: 0.75;
}

.summary {
  margin-top: 2em;
}

.place {
  margin-bottom: 4em;
}

.positions td {
  padding: 0;
  border-bottom: 0.1em dotted var(--accent-color-2);
}

.positions-when {
  text-align: right;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.styled-list {
  list-style: none;
}

.styled-list li:before {
  content: "\2022";
  color: var(--accent-color);
  display: inline-block;
  width: 0.75em;
  margin-left: -1em;
  font-weight: bold;
}

.skills li {
  margin-right: 2em;
}
