/* :root {
  --gutter-big: 4em;
  --accent-color: #0085b2;
  --accent-color-dim: #0085b266;
  --background-color: inherit;
  --text-color: inherit;
} */

/* https://coolors.co/37392e-32ccff-28afb0-ddcecd-fff4f4 */
/* :root {
  --gutter-big: 4em;
  --accent-color: #28afb0;
  --accent-color-dim: #28afb066;
  --accent-color-2: #32ccff;
  --background-color: #37392e;
  --text-color: #fff4f4;
} */

:root {
  --gutter-big: 8em;
  --accent-color: #00cccc;
  --accent-color-2: #cc00cc;
  --background-color: #1e1b18;
  --text-color: #e8e4e8;
  --dim-text-color: #adacab99;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  max-width: 42em;
  margin: var(--gutter-big) auto;
  padding: 0 1em;
}

section {
  margin-top: var(--gutter-big);
}

a {
  text-decoration: underline;
  color: var(--text-color);
  text-shadow: none;
  border-bottom: none;
  background-image: none;
}

h1,
h2,
h3,
h4 {
  color: inherit;
}

h1 {
  border-bottom: 0.2em solid var(--accent-color);
}

h2 {
  border-bottom: 0.1em solid var(--accent-color);
}

.no-break {
  white-space: nowrap;
}

.icon-list {
  margin: 0;
}

.icon-list-item {
  display: flex;
  align-items: center;
}

.icon-list-item--long {
  align-items: flex-start;
}

.icon-list-icon {
  margin-right: 0.25em;
  color: #cc00cc;
}

.contact {
  display: flex;
  flex-wrap: wrap;
}

.contact-item {
  margin-right: 1em;
}

.summary {
  margin-top: 2em;
}

.place {
  margin-bottom: 4em;
}

.positions td {
  padding: 0.1em 0;
  border-bottom: 0.1em dotted var(--dim-text-color);
}

.positions-when {
  text-align: right;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.styled-list {
  list-style: none;
}

.styled-list li:before {
  content: "\276f";
  color: #cc00cc;
  display: inline-block;
  width: 0.75em;
  margin-left: -1em;
}

.skills li {
  margin-right: 2em;
}
