/* dark */
html {
  --accent-color-2: #98c379;
  --accent-color: #61afef;
  --background-color: #282c34;
  --dim-text-color: #99a0ab;
  --gutter-big: 8rem;
  --gutter-med: 4rem;
  --text-color: #e8e4e8;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  max-width: 35rem;
  margin: 0 auto;
  padding: 0 1rem;
}

section {
  margin-top: var(--gutter-big);
}

a {
  text-decoration: underline;
  text-decoration-color: var(--dim-text-color);
  color: var(--text-color);
  text-shadow: none;
  border-bottom: none;
  background-image: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

h1 {
  border-bottom: 0.2rem solid var(--accent-color);
  font-size: 2rem;
}

h2 {
  border-bottom: 0.1rem solid var(--accent-color);
}

h3 {
  color: #e5c07b;
  margin-bottom: 0;
}

h4 {
  margin-top: 0.25rem;
}

.no-break {
  white-space: nowrap;
}

.icon-list {
  margin: 0;
}

.icon-list-item {
  display: flex;
  align-items: center;
}

.icon-list-item--long {
  align-items: flex-start;
}

.icon-list-icon {
  flex-shrink: 0;
  margin-right: 0.333rem;
  color: var(--accent-color-2);
  width: 1rem;
  height: 1rem;
}

.icon-list-item--long .icon-list-icon {
  margin-top: 0.25rem;
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
}

.contact-item {
  margin-right: 1rem;
}

.summary {
  margin-top: 2rem;
}

.place {
  margin-bottom: var(--gutter-med);
}

.positions {
  margin-bottom: 2rem;
}

.position {
  display: flex;
  flex-direction: row;
}

.position-leaders {
  flex-grow: 1;
  border-bottom: 1px dashed var(--dim-text-color);
  position: relative;
  bottom: 0.35rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, 8rem);
}

.skills li {
  margin-right: 2rem;
}

.highlights {
  list-style: none;
}

.highlight::before {
  content: "\2022";
  color: var(--accent-color-2);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media (min-width: 35rem) {
  h1 {
    font-size: 5rem;
  }
}

@media print {
  /* light */
  html {
    --accent-color-2: #4cbb17;
    --accent-color: #0076be;
    --background-color: #fff;
    --dim-text-color: #adacab99;
    --gutter-big: inherit;
    --gutter-med: inherit;
    --text-color: #000;

    font-size: 14px;
  }

  main {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 2rem;
  }

  .full-screen {
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
  }
}
